.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 1rem 0 0;

  li {
    a {
      display: inline-block;
      width: 30vw;
      margin: 0.25rem 0;
      font-size: 1.5rem;
      color: #ffe3aa;
      text-decoration: none;
      &:hover {
        transform: translate(0, 2px);
      }
    }
    p {
      display: none;
      width: 25vw;
      margin: 0.25rem 0;
      font-size: 1.5rem;
      padding: 0.5rem;
    }
    img {
      width: auto;
      height: 5vh;
      padding: 0.25rem;
    }
  }
  .religion {
    cursor: pointer;
    .man {
      padding: 1px;
      width: 80px;
      height: 68px;
      position: absolute;
      left: 62vw;
      top: 30vh;
      background-image: url("/styles/img/angels.png");
      animation: play 1s steps(2) infinite alternate;
      &:hover {
        box-shadow: 3px 3px 100px #f3d42e;
      }
    }

    // .p {
    //   text-decoration: none;
    //   color: red;
    //   background-color: white;
    //   border-radius: 10px;
    //   padding: 0.25rem;
    //   font-size: 0.5rem;
    //   display: inline;
    //   position: absolute;
    //   left: 62vw;
    //   top: 30vh;
    //   animation: jump 0.5s ease-in-out 0.5s infinite forwards;
    //   &:hover {
    //     box-shadow: 3px 3px 100px #f3d42e;
    //     background-color: #f3d42e;
    //   }
    // }
  }
  .done {
    display: block;
    color: #2d2e1c;
  }

  //（动画名）（持续时间）（變化速率）（动画延迟時間）（动画重複）（动画方向:）（停留:開始/結束）

  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
@keyframes play {
  from {
    background-position: -18px;
  }
  to {
    background-position: -197px;
  }
}

@media screen and (max-width: 500px) {
  .list {
    padding: 1rem 0 0 0;
    li {
      a {
        font-size: 1rem;
        width: 40vw;
      }
      p {
        width: 40vw;
        font-size: 1rem;
        padding: 0.5rem;
      }
    }
  }
}
@media screen and (min-height: 600px) {
  .list {
    li {
      a {
        margin: 0.5rem 0;
      }
    }
  }
}
